.sideContainer {
  background-color: rgba(179, 179, 179, .9);
  opacity: .7;
  display: flex;
  justify-content: flex-end;
  min-width: 150px;
  max-width: 300px;
  padding-top: 14px;
  padding-left: 14px;
  .dragDiv {
    width: 15px;
    position: relative;
    left: 7px;
    cursor: ew-resize;
  }
  .inner{
    width: 100%;
    cursor: default;
   .input{
     margin-top: 15px;
   }
  }
}
